pyinstaller
flask
werkzeug
waitress
pywebview
trimesh
pyrender
PyOpenGL
PyOpenGL-accelerate
numpy
Pillow
matplotlib
fast-simplification
pymeshfix
shapely
rectpack
smbprotocol
paho-mqtt
requests
cryptography
rarfile
py7zr
defusedxml
nest_asyncio
psutil
packaging
qrcode
telethon
websocket-client
flashforge-python-api
